body{
    font-size: 12;
    font-family: Arial;
    background-color: #ECF0F5;

}

.btn_enregistrer{
    color:#fff;
    background-color: #00C0EF;
}

.btn_cancel{
    color: #fff;
    background-color: #f39c12;
}

.container{
    position: absolute;
    border: solid black 1px;
    left: 30%;
    padding: 15px;
    width: 45%;
    top: 20%;
}

form{
    background-color: #fff;
    margin: 0px;
    padding: 10px;
}

.flex{
    display: flex;
}
label{
    font-weight: 100;
}

h4{
    margin: 0;
}
div.mar{
    margin-right: 5%;
}
#filiere,input[type=text]{
    width: 100%;
}

#dep,#arrond,#com,#village{
    width: 20.2em;
}

select,input{
    margin-bottom:10px;
}